<h1>Title: <%= @song.title %></h1>
<% if @song.released %>
    <h2>Release Year: <%=@song.release_year%></h2>
<% end%>
<h2>Artist: <%=@song.artist_name%></h2>
<h2>Genre: <%=@song.genre%></h2><br>

<%= button_to "Edit Song", edit_song_path(@song), method: :get %>

<%= button_to "Delete Song", song_path(@song), method: :delete %>

<%= button_to "Return to Song Index", songs_path, method: :get %>